/* Estilos para el modal */
.modal_guia {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  z-index: 9998 ;
}

.modal-content_guia {
  position: absolute;
  width: 90%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  animation: cubic-bezier(0.215, 0.610, 0.355, 1);
  z-index: 9999;

}

.close_guia {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  animation: cubic-bezier(0.215, 0.610, 0.355, 1);

}

/* Estilos para el iframe */
.iframe_guia {
  border-radius: 5px;
  width: 100%;
  height: 90vh;
}

/* -------------------- menu flotante -------------------------- */
.section{
  position: sticky;
  top: 20px;
  width: 80px;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
.section .global-content{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-315deg);
}
.global-content .toggle-btn,
.global-content span a{
  height: 60px;
  width: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.global-content .toggle-btn{
  font-size: 35px;
  color: #0e2431;
  z-index: 100;
  cursor: pointer;
  transform: rotate(-225deg);
  transition: all 0.6s ease;
}
section.open .toggle-btn{
  transform: rotate(0deg);
}
.global-content span{
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}
section.open .global-content span{
  transform: rotate(calc(var(--i) * (-360deg/8))) translateY(85px);
  opacity: 1;
}
.global-content span a{
  text-decoration: none;
  transform: rotate(315deg);
}
.global-content span a i{
  font-size: 24px;
  color: #0e2431;
  transform: rotate(calc(var(--i) * (-360deg/ -8)));
  opacity: 0.8;
  transition: 0.2s;
}
.global-content span a:hover i{
  opacity: 1;
}


/* ---------------------- estilos del diagrama de barras ---------------------- */

.container1 {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    background: chartreuse;
}

.bar {
    width: 20px;
    position: absolute;
    bottom: 0;
}

.modal {
  /* display: none; */
  /* position: absolute; */
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  background-color: rgb(0 0 0 / 88%);
}

.modal-content {
background-color: white;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#grafica_botones:hover{
  background-color: rgb(0 183 105);
}
.grafica_botones:hover{
  background-color: rgb(0 183 105);
}
#grafica_botones2:hover{
  background-color: rgb(0 183 105);
}
.grafica_botones2:hover{
  background-color: rgb(0 183 105);
}

#table {
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid black;
  padding: 6px;
  text-align: center;
}
.mensaje {
  padding: 20px;
  background-color: #ff9898;
  color: #fff;
  font-size: 18px;
  transition: background-color 0.3s;
}

.mensaje:hover {
  background-color: #f00;
  animation: mensajeAnimado 1s none;
}

@keyframes mensajeAnimado {
  0% { transform: scale(1);
    background-color: #f00;}
  50% { transform: scale(1.2);
    background-color: rgb(179, 255, 0);}
  100% { transform: scale(1); 
    background-color: rgb(13, 0, 255);}
}
.h6{
  line-height: 0;
}

.tooltip-container {
  position: relative;
  width: 100%;
  height: 25px;

  visibility: visible;
  opacity: 1;

  
}

.tooltip-content {
  position: absolute;
  top: 35px;
  left: 100%;
  transform: translateX(5%);
  width: 200px;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  color: black;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  border-top-left-radius: 0px;
  border-radius: 0px 16px 16px 16px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.884);
  transition: visibility 0s, opacity 0.3s;
}

td :hover .tooltip-content {
  visibility: visible;
  ;
  opacity: 1;
}

.tooltip-content p {
  margin: 0;
}